In [3]:
from imp import reload
from nltk.corpus import stopwords
from collections import Counter
import pandas as pd
import numpy as np
import matplotlib as mpl
import nltk,re,pprint
import sys,glob,os
import operator, string, argparse, math

In [1]:
class flingDBSCAN:
    def __init__(self,data,nthres):
        self.data = data
        self.near_threshold = nthres
        self.nDocs = len(self.data)
        print("\nDBSCAN initialized!\n")
                
    def distanceBtnTwoDocs(self, docId_1, docId_2):
        listWords_1 = set(list(self.data['tfMatrix'][docId_1]['word']))
        listWords_2 = set(list(self.data['tfMatrix'][docId_2]['word']))
        common = listWords_1.intersection(listWords_2)
        diff1_2 = listWords_1.difference(listWords_2)
        diff2_1 = listWords_2.difference(listWords_1)
        sumwt1 = self.data['sumTFIDF'][docId_1]
        sumwt2 = self.data['sumTFIDF'][docId_2]
        score_common, score_doc1, score_doc2 = 0,0,0
        for word_c in common:
            score_1 = float(self.data['tfMatrix'][docId_1].loc[self.data['tfMatrix'][docId_1]['word'] == word_c]['tf-idf'])
            score_2 = float(self.data['tfMatrix'][docId_2].loc[self.data['tfMatrix'][docId_2]['word'] == word_c]['tf-idf'])
            score_common += abs(score_1/float(sumwt1) - score_2/float(sumwt2))
        for word_d12 in diff1_2:
            score_1 = float(self.data['tfMatrix'][docId_1].loc[self.data['tfMatrix'][docId_1]['word'] == word_d12]['tf-idf'])
            score_doc1 += score_1/float(sumwt1)
        for word_d21 in diff2_1:
            score_2 = float(self.data['tfMatrix'][docId_2].loc[self.data['tfMatrix'][docId_2]['word'] == word_d21]['tf-idf'])
            score_doc2 += score_2/float(sumwt2)
        score_total = score_common + score_doc1 + score_doc2
        return(score_total)
    
    def findNear(self,docId):
        nearList = {}
        for el in range(self.nDocs):
            if docId!=el:
                dist = self.distanceBtnTwoDocs(docId,el)
                if dist>=self.near_threshold:
                    nearlist[[docId,el]]=dist
        return (nearlist)

SyntaxError: invalid syntax (<ipython-input-1-01ca929fa504>, line 5)

In [4]:
dataProcessed = pd.read_csv('../processFiles/data_tfidf_processed.csv', encoding="latin")

In [5]:
fdb = flingDBSCAN(dataProcessed)
fdb.findNear(1,1.75)

,Unnamed: 0,Job Description,Company Name,Industry,stopsRemoved,tfMatrix,sumTFIDF
0,0,Are you eager to roll up your sleeves and harn...,Vera Institute of Justice\n3.2,Social Assistance,eager roll sleeves harness data drive policy c...,word tf tf-idf\n0 dat...,811.569328
1,1,Overview\n\nProvides analytical and technical ...,Visiting Nurse Service of New York\n3.8,Health Care Services & Hospitals,overview provides analytical technical support...,word tf tf-idf\n0 da...,415.287583
2,2,WeÃ¢ÂÂre looking for a Senior Data Analyst w...,Squarespace\n3.4,Internet,weÃ¢ÂÂre looking senior data analyst love me...,word tf tf-idf\n0 data...,439.815932
3,3,Requisition NumberRR-0001939\nRemote:Yes\nWe c...,Celerity\n4.1,IT Services,requisition numberrr remoteyes collaborate cre...,word tf tf-idf\n0 Ã¢Â...,569.217931
4,4,ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,FanDuel\n3.9,Sports & Recreation,fanduel group fanduel group worldclass team br...,word tf tf-idf\n0 fandue...,420.106719
...,...,...,...,...,...,...,...
2248,2248,Maintains systems to protect data from unautho...,"Avacend, Inc.\n2.5",Staffing & Outsourcing,maintains systems protect data unauthorized us...,word tf tf-idf\n0 ...,43.940807
2249,2249,Position:\nSenior Data Analyst (Corporate Audi...,Arrow Electronics\n2.9,Wholesale,position senior data analyst corporate audit j...,word tf tf-idf\n0 ...,439.042957
2250,2250,"Title: Technical Business Analyst (SQL, Data a...",Spiceorb,-1,title technical business analyst sql data anal...,word tf tf-idf\n0 busi...,205.978695
2251,2251,Summary\n\nResponsible for working cross-funct...,Contingent Network Services\n3.1,Enterprise Software & Network Solutions,summary responsible working crossfunctionally ...,word tf tf-idf\n0 ...,364.177527
2252,2252,"You.\n\nYou bring your body, mind, heart and s...",SCL Health\n3.4,Health Care Services & Hospitals,bring body mind heart spirit work senior quali...,word tf tf-idf\n0 data...,366.509859