In [24]:
import fasttext
import pandas as pd
import numpy as np
import matplotlib as mpl
import nltk,re,pprint
import sys,glob,os
from imp import reload
from nltk.corpus import stopwords

ModuleNotFoundError: No module named 'nltk'

In [2]:
kickstarter2016 = pd.read_csv("../datasets/kickstarterProjects/ks-projects-201612.csv", encoding="latin")

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (13,14,15) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
 dataAnalyst = pd.read_csv("../datasets/DataAnalyst.csv", encoding="latin")

In [6]:
len(dataAnalyst["Industry"].unique())

89

In [7]:
dataAnalystSmall = dataAnalyst[['Job Description', 'Company Name', 'Industry']]

In [8]:
dataAnalystSmall

,Job Description,Company Name,Industry
0,Are you eager to roll up your sleeves and harn...,Vera Institute of Justice\n3.2,Social Assistance
1,Overview\n\nProvides analytical and technical ...,Visiting Nurse Service of New York\n3.8,Health Care Services & Hospitals
2,Weâre looking for a Senior Data Analyst who ...,Squarespace\n3.4,Internet
3,Requisition NumberRR-0001939\nRemote:Yes\nWe c...,Celerity\n4.1,IT Services
4,ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,FanDuel\n3.9,Sports & Recreation
...,...,...,...
2248,Maintains systems to protect data from unautho...,"Avacend, Inc.\n2.5",Staffing & Outsourcing
2249,Position:\nSenior Data Analyst (Corporate Audi...,Arrow Electronics\n2.9,Wholesale
2250,"Title: Technical Business Analyst (SQL, Data a...",Spiceorb,-1
2251,Summary\n\nResponsible for working cross-funct...,Contingent Network Services\n3.1,Enterprise Software & Network Solutions
2252,"You.\n\nYou bring your body, mind, heart and s...",SCL Health\n3.4,Health Care Services & Hospitals

In [9]:
dataAnalystGrouped = dataAnalystSmall.groupby(['Industry']).count()

In [10]:
pd.set_option('display.max_rows', 500)
print(dataAnalystGrouped.sort_values(by=['Job Description'], ascending=False))

                                           Job Description  Company Name
Industry
-1                                                     353           352
IT Services                                            325           325
Staffing & Outsourcing                                 323           323
Health Care Services & Hospitals                       151           151
Consulting                                             111           111
Computer Hardware & Software                           111           111
Investment Banking & Asset Management                   78            78
Enterprise Software & Network Solutions                 69            69
Internet                                                65            65
Banks & Credit Unions                                   51            51
Advertising & Marketing                                 51            51
Insurance Carriers                                      47            47
Colleges & Universities                                 40            40
Accounting                                              39            39
Biotech & Pharmaceuticals                               33            33
Social Assistance                                       23            23
Aerospace & Defense                                     22            22
Video Games                                             20            20
Lending                                                 15            15
State & Regional Agencies                               15            15
Architectural & Engineering Services                    13            13
Health, Beauty, & Fitness                               13            13
Logistics & Supply Chain                                13            13
Federal Agencies                                        12            12
Real Estate                                             12            12
Research & Development                                  12            12
Consumer Products Manufacturing                         10            10
Financial Transaction Processing                        10            10
TV Broadcast & Cable Networks                           10            10
Municipal Governments                                    9             9
Construction                                             8             8
Energy                                                   7             7
Industrial Manufacturing                                 7             7
Venture Capital & Private Equity                         6             6
K-12 Education                                           6             6
Telecommunications Services                              6             6
Motion Picture Production & Distribution                 6             6
Wholesale                                                6             6
Brokerage Services                                       6             6
Commercial Equipment Repair & Maintenance                6             6
Electrical & Electronic Manufacturing                    6             6
Food & Beverage Manufacturing                            6             6
Department, Clothing, & Shoe Stores                      5             5
Publishing                                               5             5
Health Care Products Manufacturing                       5             5
Casual Restaurants                                       5             5
Home Centers & Hardware Stores                           5             5
Cable, Internet & Telephone Providers                    5             5
Insurance Agencies & Brokerages                          4             4
Legal                                                    4             4
Membership Organizations                                 4             4
Transportation Management                                4             4
Oil & Gas Services                                       4             4
Automotive Parts & Accessories Stores                    4             4
Other Retail Stores                                      3             3
Gas Stations                                             3             3
Sports & Recreation                                      3             3
Preschool & Child Care                                   3             3
Transportation Equipment Manufacturing                   3             3
Vehicle Dealers                                          3             3
General Merchandise & Superstores                        3             3
Health Fundraising Organizations                         3             3
Grocery Stores & Supermarkets                            3             3
Education Training Services                              3             3
Gambling                                                 3             3
Financial Analytics & Research                           2             2
Beauty & Personal Accessories Stores                     2             2
General Repair & Maintenance                             2             2
Convenience Stores & Truck Stops                         2             2
Drug & Health Stores                                     2             2
Utilities                                                2             2
Security Services                                        2             2
Miscellaneous Manufacturing                              2             2
Building & Personnel Services                            2             2
Food & Beverage Stores                                   2             2
Audiovisual                                              1             1
Trucking                                                 1             1
Truck Rental & Leasing                                   1             1
Consumer Electronics & Appliances Stores                 1             1
Hotels, Motels, & Resorts                                1             1
Stock Exchanges                                          1             1
Express Delivery Services                                1             1
Sporting Goods Stores                                    1             1
Catering & Food Service Contractors                      1             1
Chemical Manufacturing                                   1             1
Pet & Pet Supplies Stores                                1             1
Consumer Product Rental                                  1             1
Metals Brokers                                           1             1
News Outlet                                              1             1

In [17]:
for col in dataAnalystTopCatGrouped.columns: 
    print(col)

Industry
Job Description

In [12]:
dataAnalystGrouped.shape

(89, 2)

In [13]:
dataAnalystTopCat = dataAnalystSmall[dataAnalystSmall["Industry"].isin(['IT Services', 'Staffing & Outsourcing', 'Health Care Services & Hospitals', 'Consulting',
'Computer Hardware & Software', 'Investment Banking & Asset Management', 'Enterprise Software & Network Solutions', 'Internet',
'Banks & Credit Unions', 'Advertising & Marketing'])]

In [14]:
dataAnalystTopCatGrouped = dataAnalystTopCat.groupby(['Industry'])['Job Description'].apply(lambda x: ','.join(x)).reset_index()

In [15]:
print(dataAnalystTopCatGrouped.shape)
dataAnalystTopCatGrouped.reset_index()

(10, 2)

,index,Industry,Job Description
0,0,Advertising & Marketing,About Known\n\nKnown is a modern marketing com...
1,1,Banks & Credit Unions,"Job Description:\n\nWithin GMC, Data & Portfol..."
2,2,Computer Hardware & Software,"If interested, please reach out to Iram Shah e..."
3,3,Consulting,About Us:\n\nNYSTEC is a non-profit technology...
4,4,Enterprise Software & Network Solutions,"Data Analyst Jersey City, NJ 12+ months contra..."
5,5,Health Care Services & Hospitals,Overview\n\nProvides analytical and technical ...
6,6,IT Services,Requisition NumberRR-0001939\nRemote:Yes\nWe c...
7,7,Internet,Weâre looking for a Senior Data Analyst who ...
8,8,Investment Banking & Asset Management,About Cubist\nCubist Systematic Strategies is ...
9,9,Staffing & Outsourcing,Title: Data Analyst\n\nPosition: 1+ Year Contr...

In [16]:
dataAnalystTopCatGrouped["Job Description"].shape

(10,)

In [23]:
for index, row in dataAnalystTopCatGrouped.iterrows():
    ofname = '../processFiles/trainCatFiles/cat' + str(index)+ '_' + '-'.join(row['Industry'].split()) + '.txt'
    print(row['Industry'],ofname)
    ofile = open(ofname,"a")
    ofile.writelines(row['Job Description'])

Advertising & Marketing ../processFiles/trainCatFiles/cat0_Advertising-&-Marketing.txt
Banks & Credit Unions ../processFiles/trainCatFiles/cat1_Banks-&-Credit-Unions.txt
Computer Hardware & Software ../processFiles/trainCatFiles/cat2_Computer-Hardware-&-Software.txt
Consulting ../processFiles/trainCatFiles/cat3_Consulting.txt
Enterprise Software & Network Solutions ../processFiles/trainCatFiles/cat4_Enterprise-Software-&-Network-Solutions.txt
Health Care Services & Hospitals ../processFiles/trainCatFiles/cat5_Health-Care-Services-&-Hospitals.txt
IT Services ../processFiles/trainCatFiles/cat6_IT-Services.txt
Internet ../processFiles/trainCatFiles/cat7_Internet.txt
Investment Banking & Asset Management ../processFiles/trainCatFiles/cat8_Investment-Banking-&-Asset-Management.txt
Staffing & Outsourcing ../processFiles/trainCatFiles/cat9_Staffing-&-Outsourcing.txt